<nav class="navbar-dark bg-dark" style="text-align: center;">
  <div class="navbar navbar-expand-lg body-navbar">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a routerLinkAcrive="active" class="nav-link" routerLink="recipes" >Recipes</a>
      </li>
      <li class="nav-item">
        <a routerLinkAcrive="active" class="nav-link" routerLink="shopping-list">Shoping List</a>
      </li>
    </ul>
      <li class="nav-item dropdown d-flex">
        <a style="cursor:pointer;"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Manage
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" style="cursor:pointer;">Save Data</a></li>
          <li><a class="dropdown-item" style="cursor:pointer;">Fetch Data</a></li>
         </ul>
      </li>
  </div>
</nav>
<!--<div class="nav justify-content-end">-->
<!--  <ul class="nav justify-content-end" style="float:right;">-->
<!--    <li class="dropdown nav-item" appDropdown >-->
<!--      <a href="#" class="dropdown-toggle"  role="button">Manage <span class="caret"></span></a>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a href="#">Save Data</a></li>-->
<!--        <li><a href="#">Fetch Data</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<nav class="nav">-->
<!--  <div class="container-fluid" style="display: inline-block;">-->
<!--    <div class="navbar-header">-->
<!--      <a href="#" class="navbar-brand">Recipe Book</a>-->
<!--    </div>-->
<!--    <div class="navbar-collapse">-->
<!--      <ul class="nav navbar-nav">-->
<!--        <li><a href="#">Recipes</a></li>-->
<!--        <li><a href="#">Shoping List</a></li>-->
<!--      </ul>-->
<!--      <ul class="nav justify-content-end" style="float:right;">-->
<!--        <li class="dropdown">-->
<!--          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Save Data</a></li>-->
<!--            <li><a href="#">Fetch Data</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

<!--</nav>-->
