<div class="recipeItem">
  <div class="title">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <div class="row col-xs-12 card-title">
            <h3>{{ recipe?.name }}</h3>
        </div>
      </li>

    </ul>
    <li class="nav-item dropdown d-flex">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor:pointer;">To Shopping List</a></li>
        <li><a class="dropdown-item" style="cursor:pointer;">Edit Recipe</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" style="cursor:pointer;">Delete Recipe</a></li>
      </ul>
<!--      <div class="dropdown" style="margin:20px;width: 80%; float:right;right: 0;left: auto;">-->
<!--        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Manage Recipe-->
<!--        </button>-->
<!--        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">-->
<!--          <li><a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </li>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <img
        [src]="recipe.image"
        alt="{{ recipe.name }}"
        style="width: 80%">
    </div>
  </div>
  <div class="row" style="margin:auto;">
    <div class="col-xs-12">
      <p class="description">Description:
      {{ recipe.description }}
    </p>
    </div>
  </div>
  <div class="ingredient-list">
    <div>
      <H3 style="size:2rem;">Ingredients list</H3>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients ">
            {{ingredient.name}} - {{ingredient.amount}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
